*{
    margin:0;
    padding:0px;

}
/*
.header{

    display: inline-flex;
    border: 2px;
    border-color: black;
    background-image: url("teste.jpg");
    width:100%;
    height:200px;
    
}
.menu-principal{
    margin: 15px;
    padding: 0px;
    background: rgb(192, 149, 55);
    display: inline-flex;
    align-items:center;
    flex-direction: row;
    width:100%;
    color: white;
    
    
}
.logomarca{
    font-size: 30px;
    padding-left: 30px;
    background: rgb(83, 126, 143);
    justify-content: start;
    width:100%;
}
.menu-navegacao{
    display: inline-flex;
    background: rgb(63, 92, 62);
    padding-right: 50px;
    width:100%;
    justify-content:space-between;



}
#one{
    color:white;
    
}
#one:hover{
    color:rgb(182, 116, 226);
    
   
    

}*/


