@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1{
    padding-left: 30px;
}
input{
    margin-bottom: 20px;
}
#button{
    background-color: #A9DFBF;
}

.toDoItem > input[type='checkbox'] + div {
    
    display:inherit;
}
.toDoItem > input[type='checkbox']:checked + div {
    
    text-decoration: line-through;
}